.container {
    min-width: 950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden
}
.block {
    overflow: hidden
}
.column {
    float: left
}
.last {
    margin-right: 0
}
.span-1 {
    width: 4%
}
.span-2 {
    width: 8%
}
.span-3 {
    width: 12%
}
.span-4 {
    width: 16%
}
.span-5 {
    width: 20%
}
.span-5p9 {
    width: 24%
}
.span-6 {
    width: 25%
}
.span-7 {
    width: 29%
}
.span-8 {
    width: 33%
}
.span-9 {
    width: 37%
}
.span-10 {
    width: 41%
}
.span-11 {
    width: 45%
}
.span-12 {
    width: 50%
}
.span-13 {
    width: 54%
}
.span-14 {
    width: 58%
}
.span-15 {
    width: 62%
}
.span-16 {
    width: 66%
}
.span-17 {
    width: 70%
}
.span-18 {
    width: 75%
}
.span-19 {
    width: 79%
}
.span-20 {
    width: 83%
}
.span-21 {
    width: 87%
}
.span-22 {
    width: 91%
}
.span-23 {
    width: 95%
}
.span-24 {
    width: 100%;
    margin-right: 0
}
.span-1 > div, .span-2 > div, .span-3 > div, .span-4 > div, .span-5 > div, span-5p9 > div, .span-6 > div, .span-7 > div, .span-8 > div, .span-9 > div, .span-10 > div, .span-11 > div, .span-12 > div, .span-13 > div, .span-14 > div, .span-15 > div, .span-16 > div, .span-17 > div, .span-18 > div, .span-19 > div, .span-20 > div, .span-21 > div, .span-22 > div, .span-23 > div, .span-24 > div {
    margin: 0 0 0 0;
    overflow: hidden
}
.append-1 {
    padding-right: 4%
}
.append-2 {
    padding-right: 8%
}
.append-3 {
    padding-right: 12%
}
.append-4 {
    padding-right: 16%
}
.append-5 {
    padding-right: 20%
}
.append-6 {
    padding-right: 25%
}
.append-7 {
    padding-right: 29%
}
.append-8 {
    padding-right: 33%
}
.append-9 {
    padding-right: 37%
}
.append-10 {
    padding-right: 41%
}
.append-11 {
    padding-right: 45%
}
.append-12 {
    padding-right: 50%
}
.append-13 {
    padding-right: 54%
}
.append-14 {
    padding-right: 58%
}
.append-15 {
    padding-right: 62%
}
.append-16 {
    padding-right: 66%
}
.append-17 {
    padding-right: 70%
}
.append-18 {
    padding-right: 75%
}
.append-19 {
    padding-right: 79%
}
.append-20 {
    padding-right: 83%
}
.append-21 {
    padding-right: 87%
}
.append-22 {
    padding-right: 91%
}
.append-23 {
    padding-right: 95%
}
.prepend-1 {
    padding-left: 4%
}
.prepend-2 {
    padding-left: 8%
}
.prepend-3 {
    padding-left: 12%
}
.prepend-4 {
    padding-left: 16%
}
.prepend-5 {
    padding-left: 20%
}
.prepend-6 {
    padding-left: 25%
}
.prepend-7 {
    padding-left: 29%
}
.prepend-8 {
    padding-left: 33%
}
.prepend-9 {
    padding-left: 37%
}
.prepend-10 {
    padding-left: 41%
}
.prepend-11 {
    padding-left: 45%
}
.prepend-12 {
    padding-left: 50%
}
.prepend-13 {
    padding-left: 54%
}
.prepend-14 {
    padding-left: 58%
}
.prepend-15 {
    padding-left: 62%
}
.prepend-16 {
    padding-left: 66%
}
.prepend-17 {
    padding-left: 70%
}
.prepend-18 {
    padding-left: 75%
}
.prepend-19 {
    padding-left: 79%
}
.prepend-20 {
    padding-left: 83%
}
.prepend-21 {
    padding-left: 87%
}
.prepend-22 {
    padding-left: 91%
}
.prepend-23 {
    padding-left: 95%
}
.border {
    border-right: 1px solid #eee
}
.colborder {
    padding-right: 2%;
    margin-right: 2%;
    border-right: 1px solid #eee
}
.colborder > div {
    margin: 0
}
.pull-1 {
    margin-left: -3.333em
}
.pull-2 {
    margin-left: -6.666em
}
.pull-3 {
    margin-left: -10em
}
.pull-4 {
    margin-left: -13.333em
}
.push-0 {
    margin: 0 0 0 1.5em
}
.push-1 {
    margin: 0 -3.333em 0 1.5em
}
.push-2 {
    margin: 0 -6.666em 0 1.5em
}
.push-3 {
    margin: 0 -10em 0 1.5em
}
.push-4 {
    margin: 0 -13.333em 0 1.5em
}
.push-0, .push-1, .push-2, .push-3, .push-4 {
    float: right
}
.box {
    padding: 1.5em;
    margin-bottom: 1.5em;
    background: #eee
}
hr {
    background: #ddd;
    color: #ddd;
    width: 100%;
    height: 0.083em;
    margin: 0 0 1.583em;
    border: none
}
hr.space {
    background: #fff;
    color: #fff
}
.ui-helper-hidden {
    display: none
}
.ui-helper-hidden-accessible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px)
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}
.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.ui-helper-clearfix {
    display: inline-block
}
/*\*/
* html .ui-helper-clearfix {
    height: 1%
}
.ui-helper-clearfix {
    display: block
}
/**/
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}
.ui-state-disabled {
    cursor: default !important
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}
.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
.ui-widget {
    font-family: LucidaGrande, LucidaSans, Arial, sans-serif;
    font-size: 1.1em
}
.ui-widget .ui-widget {
    font-size: 1em
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget
button {
    font-family: LucidaGrande, LucidaSans, Arial, sans-serif;
    font-size: 1em
}
.ui-widget-content {
    border: 1px solid #ccc;
    color: #222;
}
.ui-widget-content
a {
    color: #222
}
.ui-widget-header {
    border: 1px solid #ff7722;
    background: #ff7722;
    color: #fff;
    font-weight: bold
}
.ui-widget-header
a {
    color: #fff
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #3f4042;
    font-weight: bold;
    color: #fff;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    /*background: #d0e5f5 url(start/images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;*/
    /*font-weight: bold;*/
    /*color: #1d5987;*/
}
.ui-state-hover a, .ui-state-hover a:hover {
    color: #fff;
    text-decoration: none
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #fff;
    font-weight: bold;
    color: #3f4042;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #3f4042;
    text-decoration: none;
}
.ui-widget :active {
    outline: none
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #ffba8f;
    background: #ffba8f;
    color: #363636;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight
a {
    color: #363636
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(start/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
    color: #cd0a0a
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error
a {
    color: #cd0a0a
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
    color: #cd0a0a
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
    font-weight: bold
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}
.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(start/images/ui-icons_469bdd_256x240.png)
}
.ui-widget-content .ui-icon {
    background-image: url(start/images/ui-icons_469bdd_256x240.png)
}
.ui-widget-header .ui-icon {
    background-image: url(start/images/ui-icons_d8e7f3_256x240.png)
}
.ui-state-default .ui-icon {
    background-image: url(start/images/ui-icons_6da8d5_256x240.png)
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
    background-image: url(start/images/ui-icons_217bc0_256x240.png)
}
.ui-state-active .ui-icon {
    background-image: url(start/images/ui-icons_f9bd01_256x240.png)
}
.ui-state-highlight .ui-icon {
    background-image: url(start/images/ui-icons_2e83ff_256x240.png)
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
    background-image: url(start/images/ui-icons_cd0a0a_256x240.png)
}
.ui-icon-carat-1-n {
    background-position: 0 0
}
.ui-icon-carat-1-ne {
    background-position: -16px 0
}
.ui-icon-carat-1-e {
    background-position: -32px 0
}
.ui-icon-carat-1-se {
    background-position: -48px 0
}
.ui-icon-carat-1-s {
    background-position: -64px 0
}
.ui-icon-carat-1-sw {
    background-position: -80px 0
}
.ui-icon-carat-1-w {
    background-position: -96px 0
}
.ui-icon-carat-1-nw {
    background-position: -112px 0
}
.ui-icon-carat-2-n-s {
    background-position: -128px 0
}
.ui-icon-carat-2-e-w {
    background-position: -144px 0
}
.ui-icon-triangle-1-n {
    background-position: 0 -16px
}
.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}
.ui-icon-triangle-1-e {
    background-position: -32px -16px
}
.ui-icon-triangle-1-se {
    background-position: -48px -16px
}
.ui-icon-triangle-1-s {
    background-position: -64px -16px
}
.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}
.ui-icon-triangle-1-w {
    background-position: -96px -16px
}
.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}
.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}
.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}
.ui-icon-arrow-1-n {
    background-position: 0 -32px
}
.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}
.ui-icon-arrow-1-e {
    background-position: -32px -32px
}
.ui-icon-arrow-1-se {
    background-position: -48px -32px
}
.ui-icon-arrow-1-s {
    background-position: -64px -32px
}
.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}
.ui-icon-arrow-1-w {
    background-position: -96px -32px
}
.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}
.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}
.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}
.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}
.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}
.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}
.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}
.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}
.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}
.ui-icon-arrowthick-1-n {
    background-position: 0 -48px
}
.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}
.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}
.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}
.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}
.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}
.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}
.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}
.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}
.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}
.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}
.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}
.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}
.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}
.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}
.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}
.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}
.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}
.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}
.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}
.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}
.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}
.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}
.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}
.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}
.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}
.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}
.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}
.ui-icon-arrow-4 {
    background-position: 0 -80px
}
.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}
.ui-icon-extlink {
    background-position: -32px -80px
}
.ui-icon-newwin {
    background-position: -48px -80px
}
.ui-icon-refresh {
    background-position: -64px -80px
}
.ui-icon-shuffle {
    background-position: -80px -80px
}
.ui-icon-transfer-e-w {
    background-position: -96px -80px
}
.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}
.ui-icon-folder-collapsed {
    background-position: 0 -96px
}
.ui-icon-folder-open {
    background-position: -16px -96px
}
.ui-icon-document {
    background-position: -32px -96px
}
.ui-icon-document-b {
    background-position: -48px -96px
}
.ui-icon-note {
    background-position: -64px -96px
}
.ui-icon-mail-closed {
    background-position: -80px -96px
}
.ui-icon-mail-open {
    background-position: -96px -96px
}
.ui-icon-suitcase {
    background-position: -112px -96px
}
.ui-icon-comment {
    background-position: -128px -96px
}
.ui-icon-person {
    background-position: -144px -96px
}
.ui-icon-print {
    background-position: -160px -96px
}
.ui-icon-trash {
    background-position: -176px -96px
}
.ui-icon-locked {
    background-position: -192px -96px
}
.ui-icon-unlocked {
    background-position: -208px -96px
}
.ui-icon-bookmark {
    background-position: -224px -96px
}
.ui-icon-tag {
    background-position: -240px -96px
}
.ui-icon-home {
    background-position: 0 -112px
}
.ui-icon-flag {
    background-position: -16px -112px
}
.ui-icon-calendar {
    background-position: -32px -112px
}
.ui-icon-cart {
    background-position: -48px -112px
}
.ui-icon-pencil {
    background-position: -64px -112px
}
.ui-icon-clock {
    background-position: -80px -112px
}
.ui-icon-disk {
    background-position: -96px -112px
}
.ui-icon-calculator {
    background-position: -112px -112px
}
.ui-icon-zoomin {
    background-position: -128px -112px
}
.ui-icon-zoomout {
    background-position: -144px -112px
}
.ui-icon-search {
    background-position: -160px -112px
}
.ui-icon-wrench {
    background-position: -176px -112px
}
.ui-icon-gear {
    background-position: -192px -112px
}
.ui-icon-heart {
    background-position: -208px -112px
}
.ui-icon-star {
    background-position: -224px -112px
}
.ui-icon-link {
    background-position: -240px -112px
}
.ui-icon-cancel {
    background-position: 0 -128px
}
.ui-icon-plus {
    background-position: -16px -128px
}
.ui-icon-plusthick {
    background-position: -32px -128px
}
.ui-icon-minus {
    background-position: -48px -128px
}
.ui-icon-minusthick {
    background-position: -64px -128px
}
.ui-icon-close {
    background-position: -80px -128px
}
.ui-icon-closethick {
    background-position: -96px -128px
}
.ui-icon-key {
    background-position: -112px -128px
}
.ui-icon-lightbulb {
    background-position: -128px -128px
}
.ui-icon-scissors {
    background-position: -144px -128px
}
.ui-icon-clipboard {
    background-position: -160px -128px
}
.ui-icon-copy {
    background-position: -176px -128px
}
.ui-icon-contact {
    background-position: -192px -128px
}
.ui-icon-image {
    background-position: -208px -128px
}
.ui-icon-video {
    background-position: -224px -128px
}
.ui-icon-script {
    background-position: -240px -128px
}
.ui-icon-alert {
    background-position: 0 -144px
}
.ui-icon-info {
    background-position: -16px -144px
}
.ui-icon-notice {
    background-position: -32px -144px
}
.ui-icon-help {
    background-position: -48px -144px
}
.ui-icon-check {
    background-position: -64px -144px
}
.ui-icon-bullet {
    background-position: -80px -144px
}
.ui-icon-radio-off {
    background-position: -96px -144px
}
.ui-icon-radio-on {
    background-position: -112px -144px
}
.ui-icon-pin-w {
    background-position: -128px -144px
}
.ui-icon-pin-s {
    background-position: -144px -144px
}
.ui-icon-play {
    background-position: 0 -160px
}
.ui-icon-pause {
    background-position: -16px -160px
}
.ui-icon-seek-next {
    background-position: -32px -160px
}
.ui-icon-seek-prev {
    background-position: -48px -160px
}
.ui-icon-seek-end {
    background-position: -64px -160px
}
.ui-icon-seek-start {
    background-position: -80px -160px
}
.ui-icon-seek-first {
    background-position: -80px -160px
}
.ui-icon-stop {
    background-position: -96px -160px
}
.ui-icon-eject {
    background-position: -112px -160px
}
.ui-icon-volume-off {
    background-position: -128px -160px
}
.ui-icon-volume-on {
    background-position: -144px -160px
}
.ui-icon-power {
    background-position: 0 -176px
}
.ui-icon-signal-diag {
    background-position: -16px -176px
}
.ui-icon-signal {
    background-position: -32px -176px
}
.ui-icon-battery-0 {
    background-position: -48px -176px
}
.ui-icon-battery-1 {
    background-position: -64px -176px
}
.ui-icon-battery-2 {
    background-position: -80px -176px
}
.ui-icon-battery-3 {
    background-position: -96px -176px
}
.ui-icon-circle-plus {
    background-position: 0 -192px
}
.ui-icon-circle-minus {
    background-position: -16px -192px
}
.ui-icon-circle-close {
    background-position: -32px -192px
}
.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}
.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}
.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}
.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}
.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}
.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}
.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}
.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}
.ui-icon-circle-zoomin {
    background-position: -176px -192px
}
.ui-icon-circle-zoomout {
    background-position: -192px -192px
}
.ui-icon-circle-check {
    background-position: -208px -192px
}
.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}
.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}
.ui-icon-circlesmall-close {
    background-position: -32px -208px
}
.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}
.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}
.ui-icon-squaresmall-close {
    background-position: -80px -208px
}
.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}
.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}
.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}
.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}
.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}
.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}
.ui-corner-tl {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px
}
.ui-corner-tr {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px
}
.ui-corner-bl {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px
}
.ui-corner-br {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px
}
.ui-corner-top {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px
}
.ui-corner-bottom {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px
}
.ui-corner-right {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px
}
.ui-corner-left {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px
}
.ui-corner-all {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}
.ui-widget-overlay {
    background: #aaa url(start/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30)
}
.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa url(start/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px
}
.ui-tabs {
    position: relative;
    padding: .2em;
    zoom: 1
}
.ui-tabs .ui-tabs-nav {
    padding: 8px;
    margin: 10px;
    background: #ff7722;
    border-radius: 4px;
}
.ui-tabs .ui-tabs-nav
li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
    border: none !important;
    border-radius: 0;
}
.ui-tabs .ui-tabs-nav li
a {
    float: left;
    padding: 10px;
    text-decoration: none;
    min-width: 50px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing
a {
    cursor: text
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected
a {
    cursor: pointer
}
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 10px;
    background: none
}
.ui-tabs .ui-tabs-hide {
    display: none !important
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none
}
#fancybox-loading
div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('../images/fancybox.png')
}
#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none
}
#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none
}
#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none
}
#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff
}
#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 0 solid #fff
}
#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101
}
#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../images/fancybox.png') -40px 0;
    cursor: pointer;
    z-index: 1103;
    display: none
}
#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0
}
#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top
}
#fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block
}
#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url('../images/blank.gif');
    z-index: 1102;
    display: none
}
#fancybox-left {
    left: 0
}
#fancybox-right {
    right: 0
}
#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block
}
#fancybox-left-ico {
    background-image: url('../images/fancybox.png');
    background-position: -40px -30px
}
#fancybox-right-ico {
    background-image: url('../images/fancybox.png');
    background-position: -40px -60px
}
#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible
}
#fancybox-left:hover
span {
    left: 20px
}
#fancybox-right:hover
span {
    left: auto;
    right: 20px
}
.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001
}
#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('../images/fancybox-x.png')
}
#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('../images/fancybox.png');
    background-position: -40px -162px
}
#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('../images/fancybox-y.png');
    background-position: -20px 0
}
#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('../images/fancybox.png');
    background-position: -40px -182px
}
#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('../images/fancybox-x.png');
    background-position: 0 -20px
}
#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('../images/fancybox.png');
    background-position: -40px -142px
}
#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('../images/fancybox-y.png')
}
#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('../images/fancybox.png');
    background-position: -40px -122px
}
#fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102
}
.fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative
}
.fancybox-title-outside {
    padding-top: 10px;
    color: #fff
}
.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left
}
#fancybox-title-over {
    padding: 10px;
    background-image: url('../images/fancy_title_over.png');
    display: block
}
.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px
}
#fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto
}
#fancybox-title-float-wrap
td {
    border: none;
    white-space: nowrap
}
#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url('../images/fancybox.png') -40px -90px no-repeat
}
#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url('../images/fancybox-x.png') 0 -40px
}
#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url('../images/fancybox.png') -55px -90px no-repeat
}
.fancybox-ie6 #fancybox-close {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale')
}
.fancybox-ie6 #fancybox-left-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale')
}
.fancybox-ie6 #fancybox-right-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale')
}
.fancybox-ie6 #fancybox-title-over {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale');
    zoom: 1
}
.fancybox-ie6 #fancybox-title-float-left {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale')
}
.fancybox-ie6 #fancybox-title-float-main {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale')
}
.fancybox-ie6 #fancybox-title-float-right {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale')
}
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
    height: expression(this.parentNode.clientHeight+"px")
}
#fancybox-loading.fancybox-ie6 {
    position: absolute;
    margin-top: 0;
    top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px')
}
#fancybox-loading.fancybox-ie6
div {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale')
}
.fancybox-ie .fancybox-bg {
    background: transparent !important
}
.fancybox-ie #fancybox-bg-n {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-bg-ne {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-bg-e {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-bg-se {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-bg-s {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-bg-sw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-bg-w {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale')
}
.fancybox-ie #fancybox-bg-nw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale')
}
.colorpicker {
    width: 215px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url(images/custom_background2.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: none
}
.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair
}
.colorpicker_color
div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(../images/colorpicker_overlay.png)
}
.colorpicker_color div
div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(../images/colorpicker_select.gif);
    margin: -5px 0 0 -5px
}
.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize
}
.colorpicker_hue
div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(../images/custom_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0
}
.colorpicker_new_color {
    display: none;
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00
}
.colorpicker_current_color {
    display: none;
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00
}
.colorpicker
input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px
}
.colorpicker_hex {
    display: none;
    position: absolute;
    width: 72px;
    height: 22px;
    background: url(../images/custom_hex.png) top;
    left: 212px;
    top: 142px
}
.colorpicker_hex
input {
    right: 6px
}
.colorpicker_field {
    display: none;
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute
}
.colorpicker_field
span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize
}
.colorpicker_rgb_r {
    background-image: url(../images/custom_rgb_r.png);
    top: 52px;
    left: 212px
}
.colorpicker_rgb_g {
    background-image: url(../images/custom_rgb_g.png);
    top: 82px;
    left: 212px
}
.colorpicker_rgb_b {
    background-image: url(../images/custom_rgb_b.png);
    top: 112px;
    left: 212px
}
.colorpicker_hsb_h {
    background-image: url(../images/custom_hsb_h.png);
    top: 52px;
    left: 282px
}
.colorpicker_hsb_s {
    background-image: url(../images/custom_hsb_s.png);
    top: 82px;
    left: 282px
}
.colorpicker_hsb_b {
    background-image: url(../images/custom_hsb_b.png);
    top: 112px;
    left: 282px
}
.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(../images/custom_submit.png) top;
    left: 322px;
    top: 142px;
    overflow: hidden
}
.colorpicker_focus {
    background-position: center
}
.colorpicker_hex.colorpicker_focus {
    background-position: bottom
}
.colorpicker_submit.colorpicker_focus {
    background-position: bottom
}
.colorpicker_slider {
    background-position: bottom
}
.info {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #333;
    text-decoration: none;
}
.offtwl__infoboster {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    text-decoration: none
}
.price, .pricec {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #f72;
    text-decoration: none
}
.border {
    border: 1px solid #CCC
}
.prodetail {
    font-family: Roboto, sans-serif;
    font-size: 10px;
    color: #666;
    text-decoration: none
}
.dropshadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color=#000000)";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')
}
.hide {
    display: none
}
#tabs {
    display: inline-block;
    width: 98%;
    text-align: center
}
.ui-tabs-inner-content-frame, .ui-tabs-inner-content-mats, .ui-tabs-inner-content-fillets {
    overflow: auto
}
#frame, #slip, #print {
    display: block
}
#mat2, #mat3 {
    border: 0 solid white
}
#frames input, #frames select {
    display: inline-block;
    padding: 6px;
    border: 1px solid #c3c3c3;
}
.borderz {
    border: 1px solid white
}
#frame-it-wall {
    background: white;
}
.highlight, .more {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    color: #333;
    text-decoration: underline;
    text-align: center
}
.col a {
    float: right;
    margin-right: 15px
}
.frame {
    padding: 5px;
    background: #ffe3d2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.no-radius {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:hover {
    background-color: #449d44;
    border-color: #398439;
}
.add-to-cart-button {

}
.clear-both {
    clear: both;
}